<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLlmZ4jSKwcLVKF5bloVdeVX_cvRrICNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>161802556955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-config-6ecb8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-config-6ecb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161802556955:ios:cf6dc54b830b6507ba4abe</string>
</dict>
</plist>